<!DOCTYPE html>
<html lang="vi">
<head>
  <meta charset="UTF-8">
  <title>Slider Trượt Ngang</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <div class="banner-wrapper">
  <div class="background-slider">
    <div class="slide" style="background-image: url('image.png');"></div>
    <div class="slide" style="background-image: url('banner-la-gi.jpg');"></div>
    <div class="slide" style="background-image: url('banner.webp');"></div>
  </div>


    <div class="overlay-content">
      <div class="menu-left">
        <ul>
          <li>Laptop</li>
          <li>Điện thoại</li>
          <li>Phụ kiện</li>
          <li>Màn hình</li>
        </ul>
      </div>

      <div class="main-banner">
        <h2>Vòng Quay Trúng Lớn</h2>
        <p>Tổng giá trị giải thưởng đến 155 triệu</p>
        <button>Mua Ngay</button>
      </div>

      <div class="sub-banners">
        <div class="sub-banner">Giảm đến 50%</div>
        <div class="sub-banner">Tải app nhận quà</div>
      </div>
    </div>
  </div>

  <script src="script.js"></script>
</body>
</html>
